{% extends '::layout.html.twig' %}

{% block body %}
	<h1>{{ article.title }}</h1>
	<p>Par {{ article.author }}, le {{ article.date| date('d/m/Y H:i') }}</p>

	<p>{{ article.content }}</p>
{% endblock %}