{% extends '::layout.html.twig' %}
{% block body %}
    <section>
        <header>
            <h1>Billeterie</h1>
            <p>Inscrivez vous à nos evènements.</p>
        </header>
    </section>
    <section>
        <iframe src="https://yurplan.com/orga/Prism-e-Sport/3795/ticketing/widget" 
                height="475" width="100%" scrolling="auto" frameborder="0"></iframe>
    </section>
{% endblock %}