{% extends '::layout.html.twig' %}
{% block body %}
	<!-- Banner -->
		<section id="banner">
			<div class="content">
				<header>
					<h1>Prism eSport</h1>
					<p>Réinvente ta vision de l'eSport</p>
				</header>
				<p>Prism eSport est une association qui a pour but de réunir des passionnés
					du jeu vidéo pour créer des équipes sur divers jeux et organiser des
					évènements.</p>
				<p>L'association a été créé en 2016 par trois étudiants en informatique,
					passionné par les jeux vidéos et les nouvelles technologies. La décision
					est alors prise de porté le projet pendant leur dernière année d'étude
					dans leur école afin d'y consacrer du temps et de se lancer dans leur
					première aventure et organiser l'Ynov Campus Championship.</p>
				</p>
				<p>Notre envie : devenir un grand nom dans le monde de l'esport. Notre
					volonté est d'organiser des tournois autour des plus grands jeux vidéo
					(LOL, Rocket League, CS : GO, ...).</p>
				<ul class="actions">
					<li><a href="#" class="button big">En savoir plus</a></li>
				</ul>
			</div>
			<span class="image object">
				{% image 'bundles/prismesport/images/Logo_Esport.png' %}
					<img src="{{ asset_url }}" alt="Example" />
				{% endimage %}
			</span>
		</section>


	<!-- Section -->
		<section>
			<header class="major">
				<h2>Activités</h2>
			</header>
			<div class="features">
				<article>
					<span class="icon fa-trophy"></span>
					<div class="content">
						<h3>Tournois</h3>
						<p>Nous souhaitons organiser des tournois sur divers jeux comme :
							CS : GO, Rocket League, LOL. Notre rêve : Se placer parmis les
							meilleurs tournois d'eSport français.</p>
					</div>
				</article>
				<article>
					<span class="icon fa-gamepad"></span>
					<div class="content">
						<h3>Jeux</h3>
						<p>Les grands classiques : League of legend, Counter Strike : Global
							Offensive, Rocket League. Mais encore : Overwatch, Fifa 2017, ...
						</p>
					</div>
				</article>
				<article>
					<span class="icon fa-users"></span>
					<div class="content">
						<h3>Equipes</h3>
						<p>Nous voulons créer différentes équipes dans ces jeux et les
							amener dans les tournois français pour représenter Prism eSport.</p>
					</div>
				</article>
				<article>
					<span class="icon fa-share-alt"></span>
					<div class="content">
						<h3>Partage</h3>
						<p>Nous avons pour ambition de réunir les personnes autour de nos
							évènements sur le thème du jeu vidéo en partageant notre passion
							.</p>
					</div>
				</article>
			</div>
		</section>

	<!-- Section -->
	{{ render(controller('PrismBlogBundle:Blog:viewFirst')) }}

{% endblock %}