{% extends '::layout.html.twig' %}
{% block body %}
    <!-- Banner -->
        <section id="banner">
            <div class="content">
                <header>
                    <h1>Nos partenaires</h1>
                    <p>Ils nous suivent dans toutes nos aventures.</p>
                </header>
            </div>
        </section>


    <!-- Section partenaires-->
        <section>
        <p>
            <span class="image main"><img src="{{ asset('images/partenaires/lusee_banner.jpg') }}" alt=""></span>
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
        </p>
        <hr class="major">
        <p>
            <span class="image main"><img src="{{ asset('images/partenaires/meltdown_banner.jpg') }}" alt=""></span>
            <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit.</p>
        </p>
        </section>

		{% javascripts 'bundles/prismesport/js/jquery.min.js'
		               'bundles/prismesport/js/skel.min.js'
		               'bundles/prismesport/js/util.js'
					   'bundles/prismesport/js/main.js'%}
  			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}
{% endblock %}